.landing-grid {
  background-image: url("../src/assets/mskl.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  text-align: center;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
}

.mdl-layout__content {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #8e54e9,
    #4776e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e54e9, #4776e6);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 40px;
}

/* landing page */
.avatar-img {
  height: 250px;
  padding-top: 5em;
}

@media (max-width: 600px) {
  .avatar-img {
    padding-top: 1em;
    height: 200px;
  }
}

.banner-text {
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  font-size: px;
  color: white;
}

@media (max-width: 600px) {
  .banner-text h3 {
    font-size: 20px;
    margin: 10px;
  }
}

@media (max-width: 350px) {
  .banner-text h3 {
    font-size: 17px;
    margin: 10px;
  }
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

@media (max-width: 600px) {
  .banner-text p {
    font-size: 15px;
    margin: 10px;
  }
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 65px;
  padding: 8px;
}

@media (max-width: 600px) {
  .social-links i {
    font-size: 1em;
    padding: 3px;
  }
}

@media (max-width: 350px) {
  .social-links i {
    font-size: 2em;
    padding-right: 3px;
  }
}

/* contact page */
.contact-body {
  margin: auto;

  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  color: rgb(48, 26, 95);
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton" sans-serif;
  color: white;
}

@media (max-width: 600px) {
  .contact-grid h2 {
    font-size: 28px;
  }
}

.contact-grid p {
  font-family: "Oxygen" sans-serif;
  font-weight: "bold";
  color: white;
}

.contact-list i {
  font-size: 45px;
  padding-right: 5rem;
  color: white;
}

@media (max-width: 600px) {
  .contact-grid i {
    font-size: 20px;
    padding-right: 1rem;
  }
}

@media (max-width: 350px) {
  .contact-grid i {
    font-size: 16px;
    padding-right: 1rem;
  }
}

.contact-list span {
  color: white;
}

@media (max-width: 600px) {
  .contact-grid span {
    font-size: 18px;
  }
}

@media (max-width: 350px) {
  .contact-grid span {
    font-size: 15px;
  }
}

.profile-pic-four {
  border-radius: 50%;
}

/* about me */

.about-me {
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  .about-me h2 {
    font-size: 25px;
  }
}

.about-me p {
  text-align: center;
  margin: 20px;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
}

@media (max-width: 600px) {
  .about-me {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .about-me p {
    font-size: 11px;
    padding-left: 1px;
    padding-right: 1px;
  }
}

.profile-pic-four {
  height: 250px;
  width: 250px;
}

@media (max-width: 600px) {
  .profile-pic-four {
    height: 150px;
    width: 150px;
  }
}

/* resume page css */
